@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 240 6%, 90%;
		--foreground: 240 10% 3.9%;

		--card: hsl(216, 100%, 48%);
		--card-foreground: 216, 100%, 30%;

		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;

		--primary: 360 0% 0%;
		--primary-foreground: 360, 0%, 16%;

		--secondary: 216, 0%, 100%;
		--secondary-foreground: 216, 0%, 80%;

		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;

		--accent: 221.21 83.19% 53.33%;
		--accent-foreground: 224 64.29% 32.94%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;

		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 10% 3.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 216, 0%, 00%;
		--foreground: 0 0% 98%;

		--card: 216, 100%, 48;
		--card-foreground: 216, 100%, 30%;

		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;

		--primary: 360, 0%, 0%;
		--primary-foreground: 360 0% 20%;

		--secondary: 216, 0%, 100%;
		--secondary-foreground: 216, 0%, 80%;

		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;

		--accent: 221.21 83.19% 53.33%;
		--accent-foreground: 224 64.29% 32.94%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 0% 90%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
